body{
    background: #4dfbb5;
}

.wrapper{
    margin: 8% auto;
    width: 50%;
    height: 300px;
    padding: 50px;
    border-radius: 50px;
    background: linear-gradient(145deg, #52ffc2, #45e2a3);
    box-shadow: 30px 30px 60px #41d59a, 
            -30px -30px 60px #59ffd0;
}
.wrapper input[type=text]{
    padding: 10px;
    display: block;
    border: none;
    width: 100%;
    border-bottom: chartreuse;
}

.wrapper button{
    border: none;
    border-radius: 6px;
    width: 100px;
    background-color: black;
    color: whitesmoke;
    margin-top: 10px;
    padding: 10px;

}

.wrapper p{
    text-align: center;
    font-size: large;
    text-decoration: whitesmoke;
    text-transform: uppercase;
}