
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');



*{
    box-sizing: border-box;
    
}

svg{
    width: 10%;
    height: 10%;
}
 .wrapper{
    display: flex;
    font-family: 'Nunito', sans-serif;
 }

.formItem{
    /* background-color: b; */
    flex-direction: row;
}
.heading{
    font-size: 3rem;

}

.content-box{
   display: none;
}
.sub{
    font-size: 1rem;
}